/* base reset */

* {
  margin: 0;
  padding: 0;
}

/* color variables */

:root {
  --main-white: #fffcec;
  --main-lightGray: #c6c3b4;
  --main-olive: #659b91;
  --main-deepGreen: #005b49;
}

/* box/font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* smooth scroll/adaptive font size */
html {
  box-sizing: border-box;
  font-size: 60%;
  scroll-behavior: smooth;
}

/* adaptive width */
@media (max-width: 75em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 50%;
  }
}

/* basic styles */

body {
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

nav > ul {
  list-style: none;
}

a {
  color: var(--main-white);
  text-decoration: none;
}

.projects img {
  display: block;
  width: 100%;
}

/* navbar */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-deepGreen);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin: 0rem 2rem;
}

@media (max-width: 30rem) {
  .nav {
    justify-content: center;
  }
  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2rem;
  padding: 1rem 3rem;
}

.nav-list a:hover {
  background: var(--main-olive);
}

/* about me section */
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #000;
  background-image: linear-gradient(60deg, #555555 0%, #181818 100%);
}

.about-me .photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10vw;
  right: 30vw;
  height: 32vw;
  width: 24vw;
  border-radius: 5%;
}

.about-me .main-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20vw;
  right: -20vw;
  width: 50vw;
  height: auto;
  padding: 1.5rem;
  line-height: 2.5rem;
}
.about-me .bold {
  font-weight: 700;
}

.projects {
  padding: 10rem 2rem;
  text-align: center;
  background: var(--main-olive);
}

.section-heading {
  max-width: 650px;
  margin: 0 auto 5rem;
  border-bottom: 0.3rem solid var(--main-lightGray);
}

@media (max-width: 30em) {
  .section-heading {
    font-size: 4rem;
  }
}

.p-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minimax (320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30em) {
  .projects {
    padding: 6rem 1rem;
  }
  .p-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-olive);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.code-signs {
  color: var(--main-olive);
  transition: color 0.3s ease-out;
  font-weight: 700;
}

.project:hover .code-signs {
  color: #f98e71;
}

.p-img {
  height: calc(100 - 6rem);
  width: 100%;
  object-fit: cover;
}
.p-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.show-all-btn {
  font-size: 2rem;
  background: var(--main-olive);
  transition: background 0.3s ease-out;
}

.show-all-btn:hover {
  background: var(--main-deepGreen);
}

.show-all-btn:hover > i {
  transform: translateX(6px);
}
